@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


 /* --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #f2f2f2;
}


.section{
	text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	border-radius:5px;

}
#menu li.active{
	
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a, #menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 33%;
	padding: 0;
	margin:0;
}

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;

}
/* -- dropdwon meny---*/
.container {
    display: inline-block;
    cursor: pointer;
	position: fixed;
	z-index: 1000;
	float: left;
	margin-left: 97%;
	margin-top:5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#FFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* ---- */


#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 0px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0px;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}


/* Section 1
 * --------------------------------------- */
#section1 h1{
	color: #444;
	padding-left:65%;
	font-size: 6em;
	
}


#section1{
	background:url(hd-gym-wallpaper-13.jpg);
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Section 2
 * --------------------------------------- */
#section2 h1{
	font-size: 6em;
	padding-left:55%;
}

#section2 #colors{
	right: 60px;
	bottom: 0;
	position: absolute;
	height: 413px;
	width: 258px;
	
	background-repeat: no-repeat;
}
#section2{
	background:url(aktivnost-beg-devushka-doroga.jpg)
	no-repeat center center fixed; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

/* Section 3
 * --------------------------------------- */
#section3 #colors{
	left: 60px;
	bottom: 0;
}
#section3 h1{
	padding-left:73%;
	font-size: 6em;

	
}

#section3{
	background:url(artsfon.com-86853.jpg)
	no-repeat center center fixed; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



}

#colors2, #colors3{
	position: absolute;
	height: 163px;
	width: 362px;
	z-index: 1;
	background-repeat: no-repeat;
	left: 0;
	margin: 0 auto;
	right: 0;
}


/* Section 4
 * --------------------------------------- */

#section4 h1{
	padding-left:65%;
	font-size: 6em;
	
}
#section4{
	background:url(angry-lion-wallpaper-hd.jpg)
	no-repeat center center fixed; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




@media only screen and (max-device-width: 1024px) {
 
}


