@charset "utf-8";
/* CSS Document */

body {
      position: relative; 
  }
#section1 {
    padding-top:0;
    height:120vh;
    background-color:#09C;
}

#section1 img {
	height:100%;
	width:100%;
}

#section2 {
	height:120vh;
	color: #fff;
	background-color: #673ab7;
	
	 
}
#section2 img {
	height:100%;
	width:100%;
}


#section3 {
   padding-top:0;
   height:120vh;
   color: #fff;
   background-color: #ff9800;
   
}
#section3 img {
	height:100%;
	width:100%;
}

#section4 {
   padding-top:0;
   height:120vh;
   color: #fff;
   background-color: #00bcd4;
}

#section5 {
	padding-top:0;
	height:120vh;
	color: #fff;
	background-color: #009688;
}

.container-fluid {
	padding-right:0;
	padding-left:0;
}

nav.navbar{
  background-color:transparent;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.navbar.shrink {
  background-color: #000;
  color:#FFF;
}



.navbar {
	background-color:transparent;
	
}
.navbar-nav{ 
	padding-left:28%;



}
#myNavbar a{
	font-family:Verdana, Geneva, sans-serif;
	
	
}



.navbar-inverse{
	border-color:transparent;
}

.active:hover{
	background-color:transparent;
	color:#F00;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	
	background-color:transparent;
	font-size:20pt;
	
}
#openNav, #closeNav{
	float:right;
	font-size:10pt;
	height:41px;
	display:none;
}
	
#closeNav{
	display:none;
}

@media only screen and (max-device-width: 1024px) {
	#myNavbar{	
		display:none;
}

	openNav, #closeNav{
		display:block;
}



